* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #0E0E0E;
  color: #DAC5A7;
}

.hero {
  padding: 2.2rem 1.2rem 0rem 2.2rem;
}
.hero .hero-image {
  width: 65%;
  max-width: 240px;
  margin: auto;
}
.hero .hero-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero h2 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.1;
  text-align: center;
}
.hero p {
  font-size: 1.1rem;
  opacity: 0.8;
  margin: 28px;
  text-align: center;
  font-weight: 300;
}
.hero .my-services {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 40px;
}
.hero .my-services a {
  padding: 8px;
  background-color: #181716;
  border: 1px solid rgb(46, 37, 28);
  border-radius: 50%;
}
.hero .my-services a img {
  width: 20px;
  height: 20px;
}
.hero .my-services span {
  font-size: 0.6rem;
  letter-spacing: 2px;
}

.page-2 {
  padding: 1rem 1.8rem;
}
.page-2 .marquee {
  width: 75%;
  margin: auto;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.page-2 .marquee .marquee-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
  padding: 0rem 2.4rem;
  animation: marquee 10s linear infinite both;
}
.page-2 .marquee .marquee-content img {
  width: 80px;
}
.page-2 .marquee::after {
  content: "";
  width: 100px;
  height: 100%;
  background-image: linear-gradient(to right, #0e0e0e, transparent);
  position: absolute;
  top: 0;
  left: 0;
}
.page-2 .marquee::before {
  content: "";
  width: 100px;
  height: 100%;
  background-image: linear-gradient(to right, transparent, #0e0e0e);
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
}
.page-2 .cards-container {
  margin: 5rem 0rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.page-2 .cards-container .card {
  width: 100%;
  padding: 40px;
  border: 1px solid rgba(58, 58, 58, 0.5450980392);
  background-color: #181716;
}
.page-2 .cards-container .card h5 {
  font-size: 15px;
  opacity: 0.6;
  font-weight: 400;
}
.page-2 .cards-container .card h3 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
.page-2 .cards-container .card p {
  font-weight: 300;
  font-size: 16px;
  margin: 0.6rem 0rem 1rem 0rem;
}
.page-2 .cards-container .card div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.page-2 .cards-container .card div button {
  width: 30px;
  aspect-ratio: 1/1;
  padding: 5px;
  border-radius: 50%;
  background-color: #232120;
  border: 1px solid #3a3a3a;
}
.page-2 .cards-container .card div button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(25deg);
}
.page-2 .cards-container .card div h4 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
}

.page-3 {
  margin: 0rem 1.8rem;
}
.page-3 .page-3-head {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.page-3 .page-3-head h3 {
  font-size: 36px;
  font-weight: 300;
}
.page-3 .page-3-head div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
}
.page-3 .page-3-head div button {
  width: 30px;
  aspect-ratio: 1/1;
  padding: 5px;
  border-radius: 50%;
  background-color: #232120;
  border: 1px solid #3a3a3a;
}
.page-3 .page-3-head div button img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: rotate(25deg);
}
.page-3 .page-3-head div h4 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
}
.page-3 .activites {
  display: grid;
  grid-template-areas: "a" "d" "c" "b";
  grid-gap: 15px;
  margin: 15px 0px;
}
.page-3 .activites .activity {
  position: relative;
  width: 100%;
  aspect-ratio: 5/4;
  border: 1px solid rgba(128, 128, 128, 0.316);
}
.page-3 .activites .activity img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.page-3 .activites .activity .dets {
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0px 1rem;
  position: absolute;
  bottom: 18px;
  padding: 10px 14px;
  border: 1px solid var(--token-68c05b50-ca7b-4173-82aa-ed42aea1a9b4, rgba(218, 197, 167, 0.15));
  background-color: var(--token-81ab93ff-d515-4aca-b63b-24f83b57a3ab, rgba(218, 197, 167, 0.05));
}
.page-3 .activites .activity .dets h3 {
  font-size: 24px;
  font-weight: 300;
}
.page-3 .activites .activity .dets h4 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
}
.page-3 .activites #activity-1 {
  grid-area: a;
}
.page-3 .activites #activity-2 {
  grid-area: b;
}
.page-3 .activites #activity-3 {
  grid-area: c;
}
.page-3 .activites #activity-4 {
  grid-area: d;
}

.page-4 {
  margin: 0rem 1.8rem;
  margin-top: 5rem;
}
.page-4 .intro {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}
.page-4 .intro h3 {
  font-size: 0.9rem;
  text-align: center;
  font-weight: 400;
}
.page-4 .intro h2 {
  font-size: 3.4rem;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
}
.page-4 .intro p {
  width: 90%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
}
.page-4 .workFlow {
  margin: 5rem 0rem;
}
.page-4 .workFlow .firstPart {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
.page-4 .workFlow .firstPart a {
  padding: 8px;
  background-color: #181716;
  border: 1px solid rgb(46, 37, 28);
  border-radius: 50%;
}
.page-4 .workFlow .firstPart a img {
  width: 20px;
  height: 20px;
}
.page-4 .workFlow .firstPart .line {
  width: 1px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.255);
  transform: translateX(18px);
}
.page-4 .workFlow .secondPart {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 10px;
}
.page-4 .workFlow .secondPart .first-elem {
  display: flex;
  align-items: flex-start;
  justify-content: stretch;
  flex-direction: column;
  gap: 12px;
  height: 100%;
}
.page-4 .workFlow .secondPart .first-elem .line-1 {
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.255);
  transform: translateX(18px);
  flex-shrink: 0;
}
.page-4 .workFlow .secondPart .first-elem a {
  padding: 8px;
  background-color: #181716;
  border: 1px solid rgb(46, 37, 28);
  border-radius: 50%;
  color: white;
  text-decoration: none;
  font-size: 1rem;
}
.page-4 .workFlow .secondPart .first-elem a {
  flex-shrink: 0;
}
.page-4 .workFlow .secondPart .first-elem .line-2 {
  width: 1px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.255);
  transform: translateX(18px);
  flex-grow: 1;
  min-height: 0;
}
.page-4 .workFlow .secondPart .second-elem {
  padding: 20px 30px;
  background-color: rgba(218, 197, 167, 0.0509803922);
  border: 1px solid #343230;
  border-radius: 2px;
}
.page-4 .workFlow .secondPart .second-elem div {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 2rem 0rem;
}
.page-4 .workFlow .secondPart .second-elem div .time {
  padding: 4px 6px;
  background-color: var(--token-81ab93ff-d515-4aca-b63b-24f83b57a3ab, rgba(218, 197, 167, 0.05));
  border: 1px solid var(--token-68c05b50-ca7b-4173-82aa-ed42aea1a9b4, rgb(52, 51, 48));
}
.page-4 .workFlow .secondPart .second-elem div h3 {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.4rem;
}
.page-4 .workFlow .secondPart .second-elem div h3 span {
  font-size: 1rem;
  opacity: 0.6;
}
.page-4 .workFlow .secondPart .second-elem p {
  font-size: 0.9rem;
  font-weight: 200;
  margin: 20px 0px;
}
.page-4 .workFlow .secondPart .second-elem ul {
  list-style-position: inside;
}
.page-4 .workFlow .secondPart .second-elem ul li {
  font-size: 0.9rem;
  font-weight: 200;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media (min-width: 767px) {
  html, body {
    font-size: 18px;
  }
  .hero .hero-image {
    max-width: 400px;
  }
  .page-3 .page-3-head {
    flex-direction: row;
    justify-content: space-between;
  }
  .page-3 .activites {
    grid-template-areas: "a b" "c d";
  }
  .page-4 .intro h3 {
    font-size: 0.8rem;
  }
  .page-4 .intro h2 {
    font-size: 4.2rem;
  }
  .page-4 .intro p {
    width: 70%;
  }
}
@media (min-width: 1200px) {
  html, body {
    font-size: 30px;
  }
  .hero .hero-image {
    max-width: 500px;
  }
  .hero p {
    font-size: 0.8rem;
  }
  .page-2 .cards-container {
    flex-direction: row;
  }
  .page-3 .activites {
    grid-gap: 35px;
  }
  .page-4 .intro h3 {
    font-size: 0.5rem;
  }
  .page-4 .intro h2 {
    font-size: 3.5rem;
  }
  .page-4 .intro p {
    font-size: 0.7rem;
    width: 30%;
  }
}/*# sourceMappingURL=style.css.map */